.container {
    margin: 0px 0px;
    width: 840px;
    padding: 30px;
    padding-bottom: 80px;
    width: 46%;
    margin-left: 25%;
    box-sizing: content-box;    
}

body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
}

main a {
    color: #851944;
}

main {
    float: left;
    width: 85%;
}

main h1{
    font-size:60px;
    background-color: #851944;
    color: #F2FFFC;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 20px;
    margin: 0px;
    text-transform: uppercase;
    border-bottom: 10px solid black;
}

.fiat {
    float: right;
    margin-left: 30px;
}
.petrobras {
    float: left;
    margin-right: 30px;
}

.hancock {
    /*margin-left: 30px;*/
    float: right;
    margin-top: 30px;
    margin-bottom: 70px;
}

strong{
    font-weight: 600;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
    font-family: "Open Sans Condensed", sans-serif;
}

aside, .minha-foto {
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}
aside {
    clear: right;
    width: 15%;
    position: relative;
    top:310px;
}
.minha-foto {
    position: absolute;
    top: 0px;
    right: 0px;
}

.icones-sociais li {
    display: inline-block; /* coloca os elementos do bloco em linha */
}
.icones-sociais a {    
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
}
.github {
    background-image: url(../img/github.png);
}
.twitter {
    background-image: url(../img/twitter.png);
}
.linkedin {
    background-image: url(../img/linkedin.png);
}

nav h1{
    font-size: 30px;
    margin-bottom: 25px;
}

nav a{
    color: inherit;
    text-transform: lowercase; /* mantém o texto dos links em minúscula */
    text-decoration: none;     /* tira o sublinhado dos links */
}

footer{
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}


:lang(en) {
    color: blue;
    font-style: italic;
}